{% extends 'layout.html' %}

{% block title %}
    Photo
{% endblock %}

{% block content %}

    <div class="grid grid-cols-1 gap-4 max-w-2xl mx-auto">
        <h1 class="text-4xl text-gray-800 font-bold mb-6 text-center dark:text-white ">我的精選相簿</h1>
        <button type="button" class="w-1/2 mx-auto bg-orange-500 text-white py-2 rounded-md">
            <a href="/upload">新增照片</a>
        </button>
        {% if photos|length > 0 %}
            {% for photo in photos %}
                <div class="bg-white dark:bg-gray-800 p-8 rounded-lg shadow-md w-full max-w-6xl mx-auto">
                    <img src="{{ url_for('static', filename=photo.url) }}" 
                         alt="{{ photo.filename }}" 
                         class="w-full h-auto">
                </div>
            {% endfor %}
        {% else %}
            <h3 class="text-2ml text-white font-bold mb-6 text-center">目前沒有任何精選圖片</h3>
            <button type="button" class="w-1/2 mx-auto bg-orange-500 text-white py-2 rounded-md">
                <a href="/upload">開始新增照片</a>
            </button>
        {% endif %}
    </div>
{% endblock %}
